<h4>Odometry</h4>
<div class="progress-block">
  <label id="tbLabel" for="brakeBar">Throttle & Brake</label>
  <clr-progress-bar id="brakeBar" [clrValue]="brakePct" class="rtlBar warning"></clr-progress-bar>
  <label for="throttleBar">{{ totalTbString }}</label>
  <clr-progress-bar id="throttleBar" [clrValue]="throttlePct"></clr-progress-bar>
</div>
<div class="progress-block">
  <label id="steeringLabel" for="brakeBar">Steering</label>
  <clr-progress-bar id="brakeBar" [clrValue]="leftSteeringPct" class="rtlBar warning"></clr-progress-bar>
  <label for="throttleBar">{{ totalSteeringString }}</label>
  <clr-progress-bar id="throttleBar" [clrValue]="rightSteeringPct"></clr-progress-bar>
</div>
