<clr-timeline>
	<clr-timeline-step [clrState]="zoneStepState">
		<clr-timeline-step-header >
			Choose zone boundaries
		</clr-timeline-step-header>
	</clr-timeline-step>
	<clr-timeline-step [clrState]="originStepState">
		<clr-timeline-step-header>
			Choose origin
		</clr-timeline-step-header>
	</clr-timeline-step>
	<clr-timeline-step [clrState]="pcdStepState">
		<clr-timeline-step-header>
			Upload PCD file
		</clr-timeline-step-header>
	</clr-timeline-step>
</clr-timeline>
<div *ngIf="isCurrent(zoneStepState)">
	Zoom to the region where the pointcloud is located.
</div>
<div *ngIf="isCurrent(originStepState)">
	Now click to add the zone's origin. This is usually where the 3D mapping was started. It can just be a guess; it will be adjusted in a later step.
</div>
<div class="map-container">
	<div class="map-frame" [draggable]="!mapFrozen">
		<div id="map" [style.cursor]="mapCursor"></div>
	</div>
</div>

<button class="btn btn-primary" (click)="finishZoneSelect()">Next</button>



<!-- <cds-icon shape="cog"></cds-icon> -->